.submission-container {
  width: 100% - 250px;
  overflow-y: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.submission-filter {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 0px !important;
  margin-bottom: 10px;
}

.form-button {
  width: 250px;
}

.quarter-chip {
  height: 25px !important;
  width: 50px;
  margin-right: 5px !important;
}

.submission-content {
  text-align: left;
}

.details-title {
  margin-top: 15px !important;
}

.filter-panel {
  /* height: 250px; */
  width: fit-content;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 15px;
}

.details-dialog::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

.details-dialog::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.details-dialog::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the draggable thumb */
  border-radius: 10px; /* Roundness of the thumb */
  border: 3px solid #f1f1f1; /* Adds space around the thumb */
}
