.content-header {
  display: flex;
  justify-content: space-between;

  padding-top: 8px;
  padding-left: 15px;
  padding-right: 25px;
  margin-bottom: 10px;
}

.header-profile {
  display: flex;
  flex-direction: row;
}

.header-greetings {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.header-action,
.header-theme {
  align-content: center;
  margin-right: 12px;
}

.header-pic {
  margin-top: 4px;
  margin-left: 10px;
}
