html,
body {
  height: 100%;
  margin: 0;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app-box {
  display: flex;
}

.app-content {
  flex-grow: 1;
  margin-left: 250px;
}
